services:
  db:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5442:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - backend-network

  files:
    image: files:1.0.2
    ports:
      - "8020:8000"
    volumes:
      - ./storage:/app/storage
      - ./config.yaml:/config.yaml
    networks:
      - backend-network
    restart: always

  syncer:
    image: files:1.0.2
    command: python -m scripts.files_sync
    volumes:
      - ./storage:/app/storage
      - ./config.yaml:/config.yaml
    networks:
      - backend-network
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - backend-network
    restart: always

networks:
  backend-network:
    driver: bridge
